html {
  margin: 0;
}

h1 {
  color: #fff;
  text-shadow: 3px 3px #000;
  font-family: Georgia, serif;
  position: absolute;
  padding: .35em;
}

.nope {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  padding-top: .2em;
  margin-top: .55em;
  padding-bottom: .2em;
}

.picpos {
  position: relative;
}

p {
  font-family: Verdana, sans-serif;
}
